body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 183, 255);
    flex-direction: column;
}

section{
    width: 500px;
    height: 600px;
    background-color: black;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.421);
}

.resultado{
    width: 100%;
    height: 135px;
    border-radius:10px 10px 0 0;
}

.calculo{
    width: 100%;
    height: 465px;
}

.container{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

input, button{
    margin: 10px;
    height: 70px;
    width: 100px;
    font-size: 20px;
    border-radius: 20px;
}

input:hover, button:hover{
    transform:scale(1.1);
    transition: 0.5s;
}

#igual{
    width: 44%;
}

.conta2, .conta3, .conta4{
    width: 95%;
    text-align: right;
    margin: 8px;
    font-size: 18px;
    color: rgb(131, 125, 125);
}

.conta{
    width: 95%;
    text-align: right;
    font-size: 48px;
}
